@model IEnumerable<Entity.EntityClass.Book>
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("ExchangeRateComponent")
@section Styles{
    <style>
        ._shadow {
            width: 100%;
            height: 250px;
            opacity: 0.7;
            background: black;
            z-index:100;
            position:absolute;
            display:flex;
            justify-content:center;
            align-items:center;
            color:#fff;
            font-size:20px;
            font-weight:bolder;
        }
    </style>
}
<link rel="stylesheet" href="./css/Home.css"/>
<div class="book-container">
    @foreach (var book in Model)
    {
        string path = null;
        @if (book.HeaderImagePath != null)
        {
            path = book.HeaderImagePath.Replace('\\', '/').Substring(1);
        }
        <div>
            <div class="card">
                @if (book.StockCount <= 0)
                {
                    <div class="_shadow">
                        Sold Out !
                    </div>
                }


                @if (book.DiscountRate != 0)
                {
                    <div class="discount">@book.DiscountRate%</div>
                }

                <div class="front" style="background-image:url('@path')"></div>
                <div class="back">@book.SmallDescription</div>

            </div>
            <div class="card-row">
                <a class="uk-button uk-button-default" asp-action="DetailsPage" asp-controller="Home" asp-route-bookid ="@book.Id">Inspect Book</a>
                <a class="uk-button uk-button-default" asp-action="Comments" asp-controller="Home" asp-route-bookid="@book.Id">Comments</a>
            </div>
        </div>

    }
</div>