@model IEnumerable<Entity.EntityClass.Book>
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("ExchangeRateComponent")
@section Styles{
}
<link rel="stylesheet" href="./css/Home.css"/>
<div class="book-container">
    @foreach (var book in Model)
    {
        string path = book.HeaderImagePath.Replace('\\', '/').Substring(1);
        <div>
            <div class="card">
                @if (book.DiscountRate != 0)
                {
                    <div class="discount">@book.DiscountRate%</div>
                }

                <div class="front" style="background-image:url('@path')"></div>
                <div class="back">@book.SmallDescription</div>

            </div>
            <div class="card-row">
                <a class="uk-button uk-button-default" asp-action="DetailsPage" asp-controller="Home" asp-route-bookid ="@book.Id">Inspect Book</a>
                <a class="uk-button uk-button-default" asp-action="Comments" asp-controller="Home" asp-route-bookid="@book.Id">Comments</a>
            </div>
        </div>

    }
</div>